@import "@fontsource/noto-sans-sc/400.css";
@import "@fontsource/noto-sans-sc/700.css";

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html[lang="zh"] body {
  font-family: "Noto Sans SC", "Atkinson Hyperlegible", sans-serif;
}

html[lang="en"] body {
  font-family: "Atkinson Hyperlegible", "Noto Sans SC", sans-serif;
}
